/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */


/* Header Top attributes */
header {
    background-color:navy;
    height:7em;
}

header p {
    color:white;

}

#logo {
    padding:10px;
    float:left;
    height:5em;
}

/* Header Bottom attributes */

.navBit {
    background-color:skyblue;
    height:4em;
    margin:30px;
    text-align:center;
    float:left;
    color:white;
    box-shadow:10px 10px 5px grey;
}

.navBit:hover {
    background-color:aliceblue;
    transition:0.2s;
}

/* Need to specify that this should only apply to links in the navbar, and these "links" should be replaced with a dropdown menu */

.clickable {     
   display: inline-block;     
   position: relative;    
   z-index: 1;     
   padding: 2em;     
   margin: -2em; 
}

/* Content attributes */

.content {
    clear:both;
}

/* Font and Text attributes */

$font-stack: Helvetica, sans-serif;

p {
    font: 100% $font-stack;
}

span {
    font: 100% $font-stack;
}
