/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */


/* Header Top attributes */
header {
    background-color:#053250;
    height:7.5em;
}

header p {
    color:white;

}

#logo {
    padding:15px;
    float:left;
    height:5em;
}

/* Header Bottom attributes */
.navBit {
    width: 20%;
    height: 4.5em;
    float:left;
    background-color:#5eb1c3;
    text-align:center;
    border-bottom: 5px solid #4b8e9c;
    color:white;
    font-size:1.5em;
}

#tickets {
    background-color: #fe6c5d;
    border-bottom: 5px solid #cc5649;
}

.navBit:hover {
    background-color:#0d6884;
    transition:0.2s;
}

#tickets:hover {
    background-color:chocolate;
    transition:0.2s;
}



/* Content attributes */

.content {
    clear:both;
}

/* Font and Text attributes */

$font-stack: Helvetica, sans-serif;

p {
    font: 100% $font-stack;
}

span {
    font: 100% $font-stack;
}
