/* Begin CSS Reset */

/* End CSS Reset */

html {
    background-color:orange;
}

header {
    background-color:skyblue;
}

#logo {
    width:10%; padding:10px;
}
nav {
    
    background-color:navy;
    height:6em;
}
nav li {
    color:white;
    display:inline;
}
#navbar  {
    background-color:deepskyblue;
    display:inline;
    height:40px;
}
p {
color:red;
}